<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/features.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="features" />
    <div class="container-center-horizontal">
      <div class="features screen">
        <div class="flex-row">
          <div class="flex-col">
            <div class="discover-new-things">Discover New Things</div>
            <div class="cards">
              <div class="overlap-group">
                <img class="app-logo-inspiraton-51" src="assets/img/app-logo-inspiraton-51@2x.svg" />
                <div class="music valign-text-middle poppins-normal-white-24px">Music</div>
              </div>
              <div class="overlap-group1">
                <img class="icon-star" src="assets/img/app-logo-inspiraton-69@2x.svg" />
                <div class="movies valign-text-middle poppins-normal-white-24px">Movies</div>
              </div>
              <div class="overlap-group2">
                <div class="books valign-text-middle poppins-normal-white-24px">Books</div>
                <img class="app-logo-inspiraton-61" src="assets/img/app-logo-inspiraton-61@2x.svg" />
              </div>
            </div>
            <div class="by-signing-up-you-c">
              By signing up, you can take advantage of world of undiscovered content that matches your preferences.
            </div>
          </div>
          <div class="er-container">
            <img class="lightning-theif-cover-1" src="assets/img/lightning-theif-cover-1@2x.png" />
            <img class="grad-album-cover-1" src="assets/img/grad-album-cover-1@2x.png" />
            <img class="joker-poster-1" src="assets/img/joker-poster-1@2x.png" />
            <img class="clueless-poster-1" src="assets/img/clueless-poster-1@2x.png" />
          </div>
        </div>
        <div class="footer">
          <div class="overlap-group4 poppins-bold-white-24px">
            <div class="rectangle-8"></div>
            <div class="about-us valign-text-middle">About Us</div>
            <div class="place valign-text-middle">Contact</div>
            <div class="twitter valign-text-middle">
              <span
                ><span class="poppins-bold-white-24px">Twitter</span><span class="poppins-medium-white-24px"></span>
              </span>
            </div>
            <div class="instagram valign-text-middle">Instagram</div>
            <img class="icon-instagram" src="assets/img/vector@2x.svg" />
            <img class="icon-twitter" src="assets/img/vector-1@2x.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
