<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/landing-page.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="landing-page" />
    <div class="container-center-horizontal">
      <div class="landing-page screen">
        <div class="flex-row">
          <div class="overlap-group-container">
            <div class="overlap-group2">
              <img class="landing-page-girl-1" src="assest/img/landing-page-girl-1@1x.png" />
              <div class="ellipse-2"></div>
              <div class="ellipse-3"></div>
            </div>
            <div class="overlap-group1">
              <div class="playbox">Playbox</div>
              <img class="group-1" src="assets/img/group-1@2x.svg" />
            </div>
          </div>
        </div>
        <div class="flex-col">
          <div class="flex-row-1">
            <a href="features.html"><div class="discover poppins-normal-white-24px">Discover</div> </a
            ><a href="sign-up.html"><div class="join poppins-normal-white-24px">Join</div> </a
            ><a href="login.html"><div class="login poppins-normal-white-24px">Login</div> </a>
          </div>
          <div class="overlap-group3">
            <h1 class="title">Just For You</h1>
            <div class="a-new-album-movie poppins-normal-white-36px">
              A new album, movie, or book can become your new favorite.
            </div>
            <div class="overlap-group">
              <div class="join-now valign-text-middle poppins-normal-white-26px">Join Now</div>
            </div>
          </div>
          <div class="ellipse-4"></div>
        </div>
      </div>
    </div>
  </body>
</html>
