<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/onboarding-process-1.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="onboarding-process-1" />
    <div class="container-center-horizontal">
      <div class="onboarding-process-1 screen">
        <div class="select-topics-to-personlize-your-stream valign-text-middle poppins-normal-white-36px">
          Select topics to personlize your stream
        </div>
        <div class="flex-row">
          <div class="lets-learn-about-you valign-text-middle">Let’s learn about You.</div>
          <div class="flex-col">
            <div class="flex-col-1">
              <div class="flex-col-2">
                <div class="flex-col-3">
                  <div class="overlap-group-container">
                    <div class="overlap-group">
                      <div class="rectangle-10"></div>
                      <div class="rap valign-text-middle poppins-normal-white-36px">Rap</div>
                    </div>
                    <div class="overlap-group24">
                      <div class="rectangle-10"></div>
                      <div class="funk valign-text-middle poppins-normal-white-36px">Funk</div>
                    </div>
                    <div class="overlap-group25">
                      <div class="rectangle-10-1"></div>
                      <div class="sports valign-text-middle poppins-normal-white-36px">Sports</div>
                    </div>
                    <div class="overlap-group26">
                      <div class="rectangle-10-5"></div>
                      <div class="comics valign-text-middle poppins-normal-white-36px">Comics</div>
                    </div>
                  </div>
                  <div class="overlap-group-container-1">
                    <div class="overlap-group20">
                      <div class="rectangle-10-6"></div>
                      <div class="country valign-text-middle poppins-normal-white-36px">Country</div>
                    </div>
                    <div class="overlap-group1">
                      <div class="rectangle-10-7"></div>
                      <div class="relationships valign-text-middle poppins-normal-white-36px">Relationships</div>
                    </div>
                    <div class="overlap-group22">
                      <div class="rectangle-10-8"></div>
                      <div class="edm valign-text-middle poppins-normal-white-36px">EDM</div>
                    </div>
                  </div>
                </div>
                <div class="overlap-group-container-2">
                  <div class="overlap-group19">
                    <div class="rectangle-10"></div>
                    <div class="soul valign-text-middle poppins-normal-white-36px">Soul</div>
                  </div>
                  <div class="overlap-group2">
                    <div class="rectangle-10-2"></div>
                    <div class="action valign-text-middle poppins-normal-white-36px">Action</div>
                  </div>
                  <div class="overlap-group21">
                    <div class="rectangle-10-1"></div>
                    <div class="humor valign-text-middle poppins-normal-white-36px">Humor</div>
                  </div>
                  <div class="overlap-group4">
                    <div class="rectangle-10-9"></div>
                    <div class="place valign-text-middle poppins-normal-white-36px">Drama</div>
                  </div>
                </div>
                <div class="overlap-group-container-3">
                  <div class="overlap-group7">
                    <div class="rectangle-10-10"></div>
                    <div class="thriller valign-text-middle poppins-normal-white-36px">Thriller</div>
                  </div>
                  <div class="overlap-group3">
                    <div class="rectangle-10-11"></div>
                    <div class="comedy valign-text-middle poppins-normal-white-36px">Comedy</div>
                  </div>
                  <div class="overlap-group23">
                    <div class="rectangle-10-3"></div>
                    <div class="horror valign-text-middle poppins-normal-white-36px">Horror</div>
                  </div>
                  <div class="overlap-group6">
                    <div class="rectangle-10-3"></div>
                    <div class="k-pop valign-text-middle poppins-normal-white-36px">K-Pop</div>
                  </div>
                </div>
              </div>
              <div class="overlap-group-container-4">
                <div class="overlap-group8">
                  <div class="rectangle-10-12"></div>
                  <div class="romance valign-text-middle poppins-normal-white-36px">Romance</div>
                </div>
                <div class="overlap-group9">
                  <div class="rectangle-10-13"></div>
                  <div class="metal valign-text-middle poppins-normal-white-36px">Metal</div>
                </div>
                <div class="overlap-group10">
                  <div class="rectangle-10-14"></div>
                  <div class="oldies valign-text-middle poppins-normal-white-36px">Oldies</div>
                </div>
                <div class="overlap-group5">
                  <div class="rectangle-10"></div>
                  <div class="jazz valign-text-middle poppins-normal-white-36px">Jazz</div>
                </div>
              </div>
              <div class="overlap-group-container-5">
                <div class="overlap-group11">
                  <div class="rectangle-10-15"></div>
                  <div class="reggae valign-text-middle poppins-normal-white-36px">Reggae</div>
                </div>
                <div class="overlap-group16">
                  <div class="rectangle-10-2"></div>
                  <div class="life valign-text-middle poppins-normal-white-36px">Life</div>
                </div>
                <div class="overlap-group17">
                  <div class="rectangle-10-4"></div>
                  <div class="travel valign-text-middle poppins-normal-white-36px">Travel</div>
                </div>
                <div class="overlap-group18">
                  <div class="rectangle-10-4"></div>
                  <div class="politics valign-text-middle poppins-normal-white-36px">Politics</div>
                </div>
              </div>
            </div>
            <div class="overlap-group-container-6">
              <div class="overlap-group12">
                <div class="rectangle-10-4"></div>
                <div class="place-1 valign-text-middle poppins-normal-white-36px">Rock</div>
              </div>
              <div class="overlap-group13">
                <div class="rectangle-10-16"></div>
                <div class="name valign-text-middle poppins-normal-white-36px">Christian</div>
              </div>
              <div class="overlap-group14">
                <div class="rectangle-10-17"></div>
                <div class="afro valign-text-middle poppins-normal-white-36px">Afro</div>
              </div>
              <div class="overlap-group15">
                <div class="rectangle-10-4"></div>
                <div class="pop valign-text-middle poppins-normal-white-36px">Pop</div>
              </div>
            </div>
          </div>
        </div>
        <div class="join-button">
          <div class="overlap-group27"><div class="next valign-text-middle poppins-normal-white-26px">Next</div></div>
        </div>
        <div class="footer">
          <div class="overlap-group-1 poppins-bold-white-24px">
            <div class="rectangle-8"></div>
            <div class="about-us valign-text-middle">About Us</div>
            <div class="place-2 valign-text-middle">Contact</div>
            <div class="twitter valign-text-middle">Twitter</div>
            <div class="instagram valign-text-middle">Instagram</div>
            <img class="icon-instagram" src="assets/img/vector@2x.svg" />
            <img class="icon-twitter" src="assets/img/vector-1@2x.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
