<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/onboarding-process-2.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="onboarding-process-2" />
    <div class="container-center-horizontal">
      <div class="onboarding-process-2 screen">
        <div class="flex-row">
          <div class="connect-your-accounts valign-text-middle">Connect Your Accounts</div>
          <div class="overlap-group-container">
            <div class="overlap-group4">
              <div class="spotify valign-text-middle poppins-normal-white-26px">Spotify</div>
            </div>
            <div class="overlap-group">
              <div class="streaming-services-coming-soon valign-text-middle poppins-normal-white-26px">
                Streaming Services (Coming Soon)
              </div>
            </div>
            <div class="overlap-group">
              <div class="audiable-coming-soon valign-text-middle poppins-normal-white-26px">
                Audiable (Coming Soon)
              </div>
            </div>
          </div>
        </div>
        <div class="join-button">
          <div class="overlap-group1"><div class="next valign-text-middle poppins-normal-white-26px">Next</div></div>
        </div>
        <div class="footer">
          <div class="overlap-group-1 poppins-bold-white-24px">
            <div class="rectangle-8"></div>
            <div class="about-us valign-text-middle">About Us</div>
            <div class="place valign-text-middle">Contact</div>
            <div class="twitter valign-text-middle">Twitter</div>
            <div class="instagram valign-text-middle">Instagram</div>
            <img class="icon-instagram" src="assets/img/vector@2x.svg" />
            <img class="icon-twitter" src="assets/img/vector-1@2x.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
