<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/sign-up.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="sign-up" />
    <div class="container-center-horizontal">
      <div class="sign-up screen">
        <div class="flex-row">
          <img class="join-the-fun" src="img/join-the-fun-@2x.svg" />
          <div class="overlap-group1 poppins-medium-white-24px">
            <div class="name">Name:</div>
            <div class="rectangle-5 border-3px-matisse-2"></div>
            <div class="email">Email:</div>
            <div class="rectangle border-3px-matisse-2"></div>
            <div class="password">Password:</div>
            <div class="rectangle border-3px-matisse-2"></div>
            <div class="overlap-group">
              <div class="join-now valign-text-middle poppins-normal-white-26px">Join Now</div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="overlap-group2 poppins-bold-white-24px">
            <div class="rectangle-8"></div>
            <div class="about-us valign-text-middle">About Us</div>
            <div class="place valign-text-middle">Contact</div>
            <div class="twitter valign-text-middle">Twitter</div>
            <div class="instagram valign-text-middle">Instagram</div>
            <img class="icon-instagram" src="img/vector@2x.svg" />
            <img class="icon-twitter" src="img/vector-1@2x.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
