<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="static/css/wall.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #312f3a">
    <input type="hidden" id="anPageName" name="page" value="wall" />
    <div class="container-center-horizontal">
      <div class="wall screen">
        <div class="flex-row">
          <a href="login.html"><div class="logout poppins-normal-white-24px">Logout</div> </a
          ><a href="login.html"><div class="settings poppins-normal-white-24px">Settings</div> </a>
        </div>
        <div class="your-wall valign-text-middle">Your Wall</div>
        <div class="overlap-group-container">
          <div class="overlap-group2 border-3px-white">
            <div class="flex-row-1">
              <div class="flex-col">
                <div class="surname valign-text-middle poppins-normal-white-36px">Good Morning</div>
                <div class="kanye-west valign-text-middle poppins-normal-white-24px">Kanye West</div>
              </div>
              <img class="group" src="img/group@2x.svg" />
            </div>
            <img class="grad-album-cover-2" src="assets/img/grad-album-cover-2@2x.png" />
          </div>
          <div class="overlap-group border-3px-white">
            <div class="flex-row-2">
              <div class="flex-col-1">
                <div class="clueless valign-text-middle poppins-normal-white-36px">Clueless</div>
                <div class="name valign-text-middle poppins-normal-white-24px">Amy Heckerling</div>
              </div>
              <img class="icon-star" src="assets/img/vector-6@2x.svg" />
            </div>
            <img class="grad-album-cover" src="assets/img/grad-album-cover-3@2x.png" />
          </div>
          <div class="overlap-group border-3px-white">
            <div class="flex-row-3">
              <div class="flex-col-2">
                <div class="the-lightning-thief valign-text-middle poppins-normal-white-36px">The Lightning Thief</div>
                <div class="name-1 valign-text-middle poppins-normal-white-24px">Rick Riordan</div>
              </div>
              <img class="vector" src="img/vector-7@2x.svg" />
            </div>
            <img class="grad-album-cover" src="assets/img/grad-album-cover-4@2x.png" />
          </div>
        </div>
        <img class="polygon-1" src="img/polygon-1@2x.svg" />
        <div class="footer">
          <div class="overlap-group-1 poppins-bold-white-24px">
            <div class="rectangle-8"></div>
            <div class="about-us valign-text-middle">About Us</div>
            <div class="place valign-text-middle">Contact</div>
            <div class="twitter valign-text-middle">
              <span
                ><span class="poppins-bold-white-24px">Twitter</span><span class="poppins-medium-white-24px"></span>
              </span>
            </div>
            <div class="instagram valign-text-middle">Instagram</div>
            <img class="icon-instagram" src="assets/img/vector@2x.svg" />
            <img class="icon-twitter" src="assets/img/vector-1@2x.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
